<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Backlink Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home.dashboard') }}">Backlink Paneli</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.dashboard') }}">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('google.google_search') }}">Google Arama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('google.manual_sites') }}">Manuel Site Ekle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('google.logs') }}">Yorum Logları</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('google.scheduler_add') }}">Zamanlayıcı</a>
                </li>
            </ul>

            {% if current_user.is_authenticated %}
                <span class="navbar-text me-3">Hoş geldin, {{ current_user.username }}</span>
                <a class="btn btn-outline-light" href="{{ url_for('auth.logout') }}">Çıkış</a>
            {% else %}
                <a class="btn btn-outline-light" href="{{ url_for('auth.login') }}">Giriş</a>
            {% endif %}
        </div>
    </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container mt-3">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>
</html>
